[submodule "bash/git-aware-prompt"]
	path = bash/git-aware-prompt
	url = git@github.com:chudur-budur/git-aware-prompt.git
[submodule "vim/Vundle.vim"]
	path = vim/Vundle.vim
	url = git@github.com:chudur-budur/Vundle.vim.git
